<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Correction Model</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles/index.style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap">
    
</head>
<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
    
                <h1><a class="navbar-brand" href="#">Form Fit Trainer</a></h1>

             
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

              
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
               
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
   
    <div class="container">
        <div class="row">
            <div class="col">
              
                    <div id="topBody" class="col">
                        <div class="row" style="margin-right: 200px; min-width: 500px;">
                            <p style="text-align: left; font-size: 3rem;"> Stay Healthy even if you stay at home <img src="../static//assets/dumble.png" alt="dumble.png" style="height: 3rem; width: 3rem;" /></p>
                            <p style="text-align: left; font-size: 1rem; font-weight: lighter;">Here you can find a variety of sports programs that you like and many fun activities to stay active anywhere.</p>
                        
                            <!-- Buttons -->
                            <div class="col" style="text-align: left; margin-top: 20px;">
                                <button class="btn btn-primary" style="background-color: #6b38ff ; border-radius: 1rem; margin-right: 1rem; width: 10rem;">Service</button>
                                <button class="btn btn-secondary" style="background-color: white; color: #6b38ff;width: 10rem; border-radius: 1rem;">View More</button>
                            </div>
                        </div>
                        
                       
                        <img  class="video-feed-img" src="../static/assets/Gymperson.avif" alt="Placeholder for Camera Feed">

                    </div>

                    <div class="row" style="margin-top: 20px; margin-right: 580px;">
                        <div class="col">
                            <img src="../static/assets/nike.png" alt="Icon 1" style="height: 4rem; width: 4rem; margin-right: 4rem;">
                            <img src="../static/assets/wwe.png" alt="Icon 2" style="height: 4rem; width: 4rem; margin-right: 4rem;">
                            <img src="../static/assets/puma.png" alt="Icon 3" style="height: 4rem; width: 4rem; margin-right: 4rem">
                            <img src="../static/assets/addidas.png" alt="Icon 4" style="height: 4rem; width: 4rem;">
                        </div>
                    </div>
             <div style="margin-top: 300px;">
                <p style="text-align: center; font-size: 2rem; color: #fff; background-color: #6b38ff; border-radius: 1rem; width: 600px; margin: auto; padding: 1rem;"> Check your form here! </p>
             </div>
                <div id="video-container">
                    <h2>Bicep Curl</h2>
                    <img id="bicep-feed" src="../static/assets/camera.jpeg" style="height: 400px;" alt="Placeholder for Camera Feed">
                    
                </div>
                <button onclick="startCameraBicep()" class="btn btn-primary">Open Camera</button>
                    <button onclick="stopCameraBicep()" class="btn btn-danger">Close Camera</button>
                <div id="video-container">
                    <h2>Should Press</h2>
                    <img id="shoulder-feed" src="../static/assets/camera.jpeg" style="height: 400px;" alt="Placeholder for Camera Feed">
                  
                </div>
                <button onclick="startCameraShoulder()" class="btn btn-primary">Open Camera</button>
                <button onclick="stopCameraShoulder()" class="btn btn-danger">Close Camera</button> <div id="video-container">
                    <h2>Lateral Raises</h2>
                    <img id="lateral-feed" src="../static/assets/camera.jpeg" style="height: 400px;" alt="Placeholder for Camera Feed">
              
                </div>
                <button onclick="startCameraLateralRaises()" class="btn btn-primary">Open Camera</button>
                <button onclick="stopCameraLateralRaises()" class="btn btn-danger">Close Camera</button>
            </div>
            
        </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
        function startCameraLateralRaises() {
            document.getElementById('lateral-feed').src = "{{ url_for('LateralRaisesRoute') }}";
            document.getElementById('placeholder-overlay').style.display = "none";
        }

        function stopCameraLateralRaises() {
            document.getElementById('lateral-feed').src = "../static/assets/camera.jpeg";
            document.getElementById('placeholder-overlay').style.display = "dotted";
        }
        function startCameraBicep() {
            document.getElementById('bicep-feed').src = "{{ url_for('curlCounterRoute') }}";
            document.getElementById('placeholder-overlay').style.display = "none";
        }

        function stopCameraBicep() {
            document.getElementById('bicep-feed').src = "../static/assets/camera.jpeg";
            document.getElementById('placeholder-overlay').style.display = "dotted";
        }
        function startCameraShoulder() {
            document.getElementById('shoulder-feed').src = "{{ url_for('shouldPressRoute') }}";
            document.getElementById('placeholder-overlay').style.display = "none";
        }

        function stopCameraShoulder() {
            document.getElementById('shoulder-feed').src = "../static/assets/camera.jpeg";
            document.getElementById('placeholder-overlay').style.display = "dotted";
        }
    </script>
</body>
</html>